---
import "../styles/index.css";
import chatbotSplash from "../assets/chatbot-splash.gif";
import contextMenu from "../assets/context-menu-confirmation.gif";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Resume - Bence Molnár</title>
    <link rel="icon" type="image/svg+xml" href="./favicon.svg" />
    <style is:global lang="scss">
      @for $i from 1 through 20 {
        .skill-group:has(li:nth-child(#{$i}):not(:hover))
          .icon-grid
          div:nth-child(#{$i})
          img {
          transform: scale(0.8);
        }
        .skill-group:has(li:nth-child(#{$i}):hover)
          .icon-grid
          div:nth-child(#{$i})
          img {
          transform: scale(1.2) translateY(-10%);
        }
      }
    </style>
  </head>

  <body>
    <main class="content">
      <section class="resume-header">
        <div class="resume-header-text">
          <h1 class="gradient-text">Bence Molnár</h1>
          <p>
            Full stack dev with an interest in web design, UX and
            microinteractions. Enterprise apps <i>can</i> look & feel nice!
          </p>
        </div>
        <img
          src="https://www.gravatar.com/avatar/d069f08d4ffdf24451b7a7b839e80a4f"
          alt="gravatar"
          class="gravatar border-blob-1"
        />
      </section>
      <section class="resume-skills">
        <h2 class="uppercase">Skills</h2>
        <div class="paragraph card skill-group">
          <h3>Frontend</h3>
          <div class="columns-2">
            <ul>
              <li>Figma</li>
              <li>HTML</li>
              <li>CSS</li>
              <li>JavaScript</li>
              <li>TypeScript</li>
              <li>Angular</li>
              <li>VueJS</li>
              <li>React</li>
              <li>Svelte</li>
            </ul>
            <div id="iconGrid" class="icon-grid">
              <div>
                <img
                  src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/figma/figma-original.svg"
                />
              </div>
              <div>
                <img
                  src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/html5/html5-plain.svg"
                />
              </div>
              <div>
                <img
                  src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/css3/css3-plain.svg"
                />
              </div>
              <div>
                <img
                  src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/javascript/javascript-plain.svg"
                />
              </div>
              <div>
                <img
                  src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/typescript/typescript-plain.svg"
                />
              </div>

              <div>
                <img
                  src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/angularjs/angularjs-plain.svg"
                />
              </div>
              <div>
                <img
                  src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/vuejs/vuejs-original.svg"
                />
              </div>
              <div>
                <img
                  src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/react/react-original.svg"
                />
              </div>
              <div class="filter-invert">
                <img
                  src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/svelte/svelte-plain.svg"
                />
              </div>
            </div>
          </div>
        </div>
        <div class="paragraph card skill-group">
          <h3>Backend</h3>
          <div class="columns-2">
            <ul>
              <li>Node.js</li>
              <li>NestJS</li>
              <li>Java</li>
              <li>SpringBoot</li>
              <li>PostgreSQL</li>
              <li>Oracle DB</li>
              <li>Nginx</li>
              <li>Docker</li>
              <li>Terraform</li>
            </ul>
            <div id="iconGrid" class="icon-grid">
              <div>
                <img
                  src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/nodejs/nodejs-original.svg"
                />
              </div>
              <div>
                <img
                  src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/nestjs/nestjs-plain.svg"
                />
              </div>
              <div>
                <img
                  src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/java/java-plain.svg"
                />
              </div>
              <div>
                <img
                  src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/spring/spring-original.svg"
                />
              </div>
              <div>
                <img
                  src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/postgresql/postgresql-plain.svg"
                />
              </div>
              <div>
                <img
                  src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/oracle/oracle-original.svg"
                />
              </div>
              <div>
                <img
                  src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/nginx/nginx-original.svg"
                />
              </div>
              <div>
                <img
                  src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/docker/docker-plain.svg"
                />
              </div>
              <div>
                <img
                  src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/terraform/terraform-original.svg"
                />
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="resume-work">
        <h2 class="uppercase">Work</h2>
        <div class="paragraph card">
          <h3 class="m-b-0">Snapsoft</h3>
          <span>2022 -</span>
          <p>Enterprise SPAs</p>
        </div>
        <div class="paragraph card">
          <h3 class="m-b-0">Talk-A-Bot</h3>
          <span>2020 - 2022</span>
          <p>Management UI for Chatbots and Natural Language Processing</p>
        </div>
        <div class="paragraph card">
          <h3 class="m-b-0">Adnovum</h3>
          <span>2020</span>
          <p>Identity and Authentication Provider</p>
        </div>
        <div class="paragraph card">
          <h3 class="m-b-0">Deutsche Telekom IT Solutions</h3>
          <span>2016 - 2020</span>
          <p>Billing applications</p>
        </div>
      </section>
      <section class="resume-studies">
        <h2 class="uppercase">Studies</h2>
        <div class="paragraph card">
          <h3 class="m-b-0">
            Budapest University of Technology and Economics <br /> Faculty of Electrical
            Engineering and Informatics
          </h3>
          <span>2013 - 2017</span>
          <ul>
            <li>Electrical Engineering Faculty</li>
            <li>Java fatclients with JavaFx</li>
            <li>Inverse kinematics in C</li>
          </ul>
        </div>
      </section>
      <section class="resume-showcase">
        <h2 class="uppercase">Snippets</h2>
        <div class="showcase-content">
          <div>
            <h3>Chatbot splash screen</h3>
            <a href="https://codesandbox.io/s/chatbot-splash-srfqg">
              <img src={chatbotSplash} alt="Chatbot splash screen" />
            </a>
          </div>
          <div>
            <h3>Card deletion</h3>
            <a
              href="https://codesandbox.io/s/react-card-deletion-framer-motion-u26g34"
            >
              <img src={contextMenu} alt="Chatbot splash screen" />
            </a>
          </div>
        </div>
      </section>
    </main>
  </body>
</html>
