---
interface Props {
  title: string;
  technologies: Technology[];
}

export interface Technology {
  name: string;
  iconUrl: string;
}

const { title, technologies } = Astro.props;
---

<style lang="scss">
  @for $i from 1 through 20 {
    .skill-group:has(li:nth-child(#{$i}):not(:hover))
      .icon-grid
      img:nth-child(#{$i}) {
      transform: scale(0.8);
    }
    .skill-group:has(li:nth-child(#{$i}):hover)
      .icon-grid
      img:nth-child(#{$i}) {
      transform: scale(1.2) translateY(-10%);
    }
  }

  .columns-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  li {
    position: relative;
    width: max-content;
    z-index: 0;
  }

  li::after {
    --padding-x: var(--size-2);
    --padding-y: calc(var(--size-1) / 2);
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: var(--padding-y) var(--padding-x);
    position: absolute;
    border-radius: var(--radius-2);
    background: var(--gradient);
    z-index: -1;
    transform: translate(
      calc(-1 * var(--padding-x)),
      calc(-1 * var(--padding-y))
    );
    opacity: 0;
  }

  li:hover::after {
    opacity: 0.3;
  }

  .icon-grid {
    --raster-size: var(--size-7);
    display: grid;
    grid-template-columns: repeat(auto-fit, var(--raster-size));
    grid-template-rows: repeat(auto-fit, var(--raster-size));
    gap: var(--size-5);
    justify-content: end;
  }

  .skill-group:not(:has(li:hover)) #iconGrid.icon-grid img {
    transform: none;
  }

  .icon-grid img {
    width: var(--raster-size);
    aspect-ratio: var(--ratio-square);
    will-change: transform;
    transition: transform 300ms var(--ease-elastic-4);
  }
</style>

<div class="card skill-group">
  <h3>{title}</h3>
  <div class="columns-2">
    <ul>
      {technologies.map((technology) => <li>{technology.name}</li>)}
    </ul>
    <div id="iconGrid" class="icon-grid">
      {
        technologies.map((technology) => (
          <img alt={`${technology.name} icon`} src={technology.iconUrl} />
        ))
      }
    </div>
  </div>
</div>
